<div class="col-xs-6">
	<h3><strong>コメント一覧 (<%= @book_show.book_comments.count %>)</strong></h3>
	<% book_show.book_comments.each do |comments| %>
		<div id="comments_<%= comments.id %>">
			<%= comments.user.name %>
			<div style="border: 1px solid black; padding: 5px 10px;">
				<%= comments.comment %>
			</div>
			<% if current_user.id == comments.user_id %>
				<%= link_to "コメント削除", book_book_comment_path(book_show,comments.id), method: :delete, remote: true %>
			<% end %>
		</div>
		<br>
	<% end %>
</div>
<div class="col-xs-6">
	<h3><strong>コメントを投稿する</strong></h3>
	<%= form_with model: book_comment, url: book_book_comments_path(book_show) do |c| %>
		<%= c.text_area :comment, style: "width: 400px; height: 200px;" %>
		<%= c.submit "送信" %>
	<% end %>
</div>