<h2 style="margin: 20px 0 10px 0;">User info</h2>
<div class="img-box">
	<%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.png" %>
</div>
<table class="table table-border">
	<tr>
		<th>Name</th>
		<td><%= user.name %></td>
	</tr>
	<tr>
		<th>Introduction</th>
		<td>
			<%= user.introduction %>
		</td>
	</tr>
	<tr>
		<th>Following</th>
		<td>
			<%= link_to user_following_path(user.id) do %>
				<%= user.followings.count %> people
			<% end %>
		</td>
	</tr>
	<tr>
		<th>Follower</th>
		<td>
			<%= link_to user_follower_path(user.id) do %>
				<%= user.followers.count %> people
			<% end %>
		</td>
	</tr>
	<tr>
		<% if current_user != user %>
			<% if user.followed_by?(current_user) %>
				<th></th>
				<td>
					<%= link_to "フォロー中", user_relationships_path(user.id), method: :delete, class: "btn btn-primary" %>
				</td>
			<% else %>
				<th></th>
				<td>
					<%=link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn btn-default follow"%>
				</td>
			<% end %>
		<% end %>
	</tr>
</table>
<div class="">
	<%= link_to "",edit_user_path(user.id), {class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench"}%>
</div>