<%= render 'layouts/header' %>
<div class="container">
	<h2><strong>フォロー中 <%= @following.count %>人</strong></h2>
	<% if @following.blank? %>
		<h3><strong>フォローしている人はいません。</strong></h3>
		<%= link_to "フォローする人を探す", users_path %>
	<% else %>
		<% @following.each do |f| %>
			<table class="table" style="width: 500px;">
				<tr>
					<th>User ID</th>
					<th>User Name</th>
					<th></th>
				</tr>
				<tr>
					<td><%= f.id %></td>
					<td> <%= f.name %></td>
					<% if current_user != f %>
						<% if f.followed_by?(current_user) %>
							<td>
								<%= link_to "フォロー中", user_relationships_path(f.id), method: :delete, class: "btn btn-primary" %>
							</td>
						<% else %>
							<td>
								<%=link_to "フォローする", user_relationships_path(f.id), method: :post, class: "btn btn-default follow" %>
							</td>
						<% end %>
					<% end %>
				</tr>
			</table>
		<% end %>
	<% end %>
</div>
<%= render 'layouts/footer' %>