<%= render 'layouts/header' %>
<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>
<div class="container">
	<div class="col-xs-3" style="padding: 0 15px;">
		<%= render 'user_info', user: @user,now: ''%>
		<%= render 'books/book_form', book: @book %>
	</div>
	<%= render 'books/book_index', books: @books %>
	<% if current_user.id == @user.id %>
		<h2>Gmap</h2>
		<div id='map' class="<%= @user.user_address %>"></div>
		<%= render 'layouts/footer' %>
		<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>
	<% end %>
</div>