<div class="col-xs-9">
	<h2>Books</h2>
	<table class="table">
		<th></th>
		<th>Title</th>
		<th>Opinion</th>
		<th></th>
		<th></th>
		<tr>
			<% books.each do |book| %>
			<td>
				　<!-- 画像リンクをつけたい -->
				<a><%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.png" %></a>
			</td>
			<td style="padding: 10px;">
				<%= link_to book.title, book_path(book.id) %>
			</td>
			<td style="padding: 10px;">
				<%= book.body %>
			</td>
			<% if book.favorited_by?(current_user) %>
				<td>
					<%= link_to favorite_path(book), method: :delete do %>
						<span>❤️</span>
						<%= book.favorites.count %>
					<% end %>
				</td>
			<% else %>
				<td>
					<%= link_to favorites_path(book), method: :post do %>
						<span>♡</span>
						<%= book.favorites.count %>
					<% end %>
				</td>
			<% end %>
			<td>
				コメント数 : <%= book.book_comments.count %>
			</td>
    	</tr>
    	<% end %>
	</table>
</div>