<h2 style="margin: 20 0 10px 0;">Books detail</h2>
<table class="table">
	<tr>
		<td>
			<div>
				<%= link_to user_path(user) do %>
					<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.png" %>
				<% end %>
			</div>
			<div>
				<%= link_to user.name, user_path(user)%>
			</div>
		</td>
		<td><%= link_to book_show.title, book_path(book_show) %></td>
		<td><%= book_show.body %></td>
		<td>
			<div id="favorites_<%= book_show.id %>">
				<%= render 'favorites/favorites',book_show: book_show %>
			</div>
		</td>
		<% if current_user == user %>
			<td><%= link_to "edit", edit_book_path %></td>
			<td><%= link_to "destroy", book_path, method: :delete %></td>
		<% end %>
		<td>
			コメント数 : <%= book_show.book_comments.count %>
		</td>
	</tr>
</table>