<%= render 'layouts/header' %>
<div class="container">
	<% if @book.errors.any? %>
        <h2><%= @book.errors.count %> errors prohibited this obj from being saved:</h2>
        <% @book.errors.full_messages.each do |msg| %>
        	<li><%= msg %></li>
	    <% end %>
	<% end %>
	<div class="col-xs-3" style="padding: 0 15px;">
		<%= render 'users/user_info', user: @user,now: ''%>
		<%= render 'books/book_form', book: @book %>
	</div>
	<%= render 'book_index', books: @books %>
</div>
<%= render 'layouts/footer' %>